<div>
  <table  width="100%" height="100%">
      <tr>
          <td width="50%"><img src="assets/home/10 x 8 = B STAR.jpg"  width="100%"></td>
           <td width="50%">
             <table>
                <tr>
                  <td><img src="assets/home/10 x 4 = STAR.jpg" width="100%"></td>
                </tr>
                <tr>
                  <td><img src="assets/home/10 x 4 = B STAR2.jpg" width="100%"></td>
                </tr>
              </table>
            </td>
      </tr>       
  </table>
</div>

<!--
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
         *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1">
        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
-->
