html {
    height: 100%;
  }
  
  body {
    padding-top: 10px;
    padding-bottom: 10px;
    text-rendering: optimizeLegibility;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Courier New', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    background: linear-gradient(150deg,#D5E3F1 15%,#FFFBD9 70%,#FFDFCB 94%);
  }
  
  h1 {
    font-size: 2.0em;
  }
  
  .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #2F465D;
  }

  .header-shadow{
    background-image: url('../images/pigfest-header-background2.jpg');
    width:100%;
    height:100%;
  }

  .header-title{
    font-family: "Times New Roman", Times, serif;
    font-family: "Sofia";
    padding: 20px 0;
    text-align: center;
  }

  .menu-item{
    font-family: "Times New Roman", Times, serif;
    font-family: "Sofia"; 
    color: "black";   
    text-align: center;
  }

  .footer-shadow{
    background-image: url('../images/pigfest-header-background2.jpg');
    width:100%;
    height:5%;
  }

  .footer-title{
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: center;
  }